<header class="header">
    <nav class="header__nav">
        <a href="{{ path('homepage') }}" class="header__nav__link">
            <img src={{ asset('images/logo.png') }} alt="logo du site" class="header__nav__link__logo">
        </a>
        <div>
            <button class="header__nav__button">
                <a href="{{ path('admin_dashboard') }}">tableau de bord</a>
            </button>
        </div>
    </nav>
</header>